<!DOCTYPE html>
<html>
    <head>
        <title>Erro na p치gina</title>
    </head>
    <body>   
        <h1>Erro na p치gina. Volte para a p치gina inicial no link em baixo</h1>
     <a href="?">P치gina inicial</a>
    </body>
</html>