<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/styleBiama.css' />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
        <!-- ajax dropup-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- jQuery files -->
		<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<!-- Firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

		<!--footer controllers-->
		<script type="text/javascript" src="../controllers/main-controller.js"></script>
		<script type="text/javascript" src="../controllers/biama-controller.js"></script>
		<script type="text/javascript" src="../controllers/whereWeAre-controller.js"></script>
		<script type="text/javascript" src="../controllers/forum-controller.js"></script>
		<script type="text/javascript" src="../controllers/curiosityForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/questionsUsersForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/worldShareForum-controller.js"></script>
		<script type="text/javascript" src="../controllers/library-controller.js"></script>
		<script type="text/javascript" src="../controllers/myBiama-controller.js"></script>
		<script type="text/javascript" src="../controllers/qrCode-controller.js"></script>

		<!--details user controllers-->
		<script type="text/javascript" src="../controllers/perfil-controller.js"></script>
		<script type="text/javascript" src="../controllers/favorites-controller.js"></script>
		<script type="text/javascript" src="../controllers/notifications-controller.js"></script>
		<script type="text/javascript" src="../controllers/questions-controller.js"></script>
		<script type="text/javascript" src="../controllers/worldShares-controller.js"></script>
		<script type="text/javascript" src="../controllers/compare-controller.js"></script>
		
		<base href="/"/>
	</head>
    <body ng-app="myApp" ng-controller="FavoritesController">
        <!-- header -->
        <div class="container-fluid">
            <div class="header margin-top-3x">
                <div class="margin-left-4x  col-sm-4">
                    <img class="iconUser" ng-if="!userDetails" src="../images/user.png" alt="img" ng-click="clickUserDetails()">
                </div>
                <div ng-if="!showSearch" class="col-sm-5 margin-top-3x">
                    <h2 ng-if="locationMaterial" class="subtitles">Onde estamos?</h2>
                    <h2 ng-if="!locationMaterial" class="subtitles">Favoritos<i class="cursorPointer float-left glyphicon glyphicon-triangle-left arrows backArrow sizeOfArrowMobile marginOfArrow"   ng-click="goToHomePage()"></i>
                        <i ng-click="openFavoritesButton()" class="fas fa-caret-down"></i>
                    </h2>
                    <div ng-if="doLogin">
						<h2 class="subtitles">Favoritos<i class="cursorPointer float-left glyphicon glyphicon-triangle-left arrows backArrow sizeOfArrowMobile marginOfArrow"   ng-click="goToHomePage()"></i></h2>
					</div>
					<div class="marginFavOptions" ng-if="showFavoritesButton && !loading" ng-repeat="fav in favoritesButton">
						<h5 class="cursorPointer fontSizeFavOptions" ng-click="selectFavorite(fav)">[{fav}]</h5>
					</div>
                </div>
                <div ng-if="!showSearch" class="margin-top-2x col-sm-1">
                    <img class="float-right widthOfSearchIcon" ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
                    <img class="float-right" ng-if="showSearch  && !userDetails" width="90px" ng-click="clickTopSearch()" src="../images/search.png">
                </div>
                <div ng-if="showSearch" class="margin-top col-sm-3">
                    <img class="float-right widthOfSearchIcon" ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
					<img ng-if="showSearch  && !userDetails" ng-click="clickTopSearch()" src="../images/search.png" width="90px">
              		<h5 class="titlesOnCenter colorOfErrorMessages errorSizeMessagesMobile" ng-if="noResultsOnSearch">Não existem resultados.</h5>
			    </div>
                <div class="col-sm-4 marginOfSearchInput">
					<input id="miniSearch" class="inputMinSearch searchInputMobile sizeSearchInputMobile" ng-if="showSearch && !userDetails" type="text"></input>
					<button ng-if="showSearch && !userDetails" ng-click="initMiniSearch()" class="buttonOkMiniSearch glyphicon glyphicon-ok buttonSizeSearchMobile"></button>
				</div>
            </div>
        </div>
		<!-- go to login --> 
        <div class="titlesOnCenter colorOfErrorMessages" ng-if="doLogin">
            <h1>Efetue Login por favor e volte a entrar nos seus favoritos.</h1>
        </div>
		<!-- loading spinner -->
        <div ng-if="loading">
			<div class="loading-icon-footer-info"></div>
		</div>
		<!-- section of user details -->
		<div class="row">
			<div ng-if="insertedAnswer && clickPutAnswer" class="textToInitSession favoriteQuestionForum alert-success center-block sucessMessageLogin titlesOnCenter">
				Resposta enviada com sucesso.
			</div>
			<div ng-if="!insertedAnswer && clickPutAnswer" class="textToInitSession favoriteQuestionForum alert-danger center-block sucessMessageLogin titlesOnCenter">
				Erro a enviar a resposta.
			</div>
			<div class="row">
				<nav class="padding-left-3x divUserDetailsMobile">
					<div class="navDetailsUserMobile" ng-if="userDetails"><br>
						<!-- content if not init session -->
						<div ng-if="!confirmSession">
							<img src="../images/userDetails.PNG" ng-click="clickUserDetails()"><br><br>
							<span title="Tem de iniciar sessão">
								<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Favoritos</a><br>
							</span>
							<div class="lineWhite margin-bottom margin-top"></div>
							<span title="Tem de iniciar sessão">
								<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">As minhas perguntas</a><br>
							</span>
							<div class="lineWhite margin-bottom margin-top"></div>
							<span title="Tem de iniciar sessão">
								<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Partilhar com o Mundo</a><br>
							</span>
							<div class="lineWhite margin-bottom margin-top"></div>
							<span title="Tem de iniciar sessão">
								<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Notificações</a><br>
							</span>
							<div class="lineWhite margin-bottom margin-top"></div>
							<span title="Tem de iniciar sessão">
								<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Perfil</a><br>
							</span>
							<div class="lineWhite margin-bottom margin-top"></div>
							<span title="Tem de iniciar sessão">
								<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Comparar</a><br>
							</span>
							<div class="lineWhite margin-bottom margin-top"></div>
							<a href="" ng-click="showInitSessionDiv()">Iniciar sessão</a><br>
							<img src="../images/expandInitSession.PNG" ng-click="clickUserDetails()"><br><br>
							
							<!-- section of init session -->
							<div class="divInitSessionMobile marginDivInitSession" ng-if="showInitSession">
								<div class="alignCenter">
									<h2 class="initSessionColor">Iniciar Sessão</h2>
									
									<div class="lineWhiteInitSession"></div><br>
									<div ng-if="users === 'loadUser'">
										<div class="loading-icon"></div>
									</div>
									<div ng-if="users !== 'loadUser'">
										<input class="inputUserName" ng-model="usernameModel" type="text" placeholder="Username"/>
										<input class="inputPassword" ng-model="passwordModel" type="password" placeholder="Password"/><br>
										<a class="confirmSessionLabel confirmButtonMobile" ng-click="confirmSessionAction(usernameModel,passwordModel)">Confirmar</a><br><br>
										<!-- login with firebase providers -->
										<div>
											<img class="cursorPointer" src="../images/logo_google.png" ng-click="loginWithGoogle()" width="10%" height="10%"/>
											<img class="cursorPointer" src="../images/logo_face.png" ng-click="loginWithFacebook()" width="10%" height="10%"/>
										</div>
										<br>
										<button class="registSessionMobile" type="button" ng-click="regist()">Registar</button>
									</div>												
								</div>
							</div>
						</div>
						<!-- content if init session -->
						<div ng-if="confirmSession">
							<img src="../images/userDetails.PNG" ng-click="clickUserDetails()"><br><br>
							<a ng-click="getRequest('favorites')">Favoritos</a><br>
							<div class="lineWhiteMobile margin-bottom margin-top"></div>
							<a ng-click="getRequest('questions')">As minhas perguntas</a><br>
							<div class="lineWhiteMobile margin-bottom margin-top"></div>
							<a ng-click="getRequest('world_share')">Partilhar com o Mundo</a><br>
							<div class="lineWhiteMobile margin-bottom margin-top"></div>
							<a class="notificationPosition" ng-click="getRequest('notification')">Notificações</a>
							<label ng-if="notificationNumber" class="labelNumberNotification">[{numberOfNotifications}]</label>
							<div ng-if="notificationNumber" class="circleNotification"></div>
							<br>
							<div class="lineWhiteMobile margin-bottom margin-top"></div>
							<a ng-click="getRequest('perfil')">Perfil</a><br>
							<div class="lineWhiteMobile margin-bottom margin-top"></div>
							<a ng-click="getRequest('compare')">Comparar</a><br>
							<div class="lineWhiteMobile margin-bottom margin-top"></div>
							<a ng-click="logout()">Terminar Sessão</a><br>
							<img src="../images/expandInitSession.PNG" ng-click="clickUserDetails()"><br><br>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!-- show favorites questions -->
        <div ng-if="!loading && showFavorites" class="alignCenter">
			<div class="margin-top-1x" ng-if="showMaterials" ng-repeat="fav in favorites">
				<img class="margin-bottom-2x cursorPointer" ng-src="../images/categories/[{fav.category}]/[{fav.image}]" ng-click="openFavorite(fav)" width="30%" height="20%" alt="foto"/>
			</div>
			<h1 class="titlesOnCenter colorOfErrorMessages" ng-if="favorites.length===0 && !loading && detailsFavMaterial">Não tem materiais favoritos.</h1>
			<h1 class="titlesOnCenter colorOfErrorMessages" ng-if="favoriteQuestions.length===0 && !loading && detailsFavQuestion">Não tem perguntas favoritas.</h1>
			
			<div ng-if="showMyQuestions" class="titlesOnCenter detailPageMobile" ng-repeat="question in favoriteQuestions track by $index">
                <a class="questionX" ng-click="getQuestion(question.question_id, $index)">Pergunta [{$index+1}]</a><br>
			    <div class="separateQuestionsMobile"></div>
            </div>
           	<div ng-if="showQuestionDetails && !loading">
				<div class="titlesOnCenter"> 
					<h1 class="subtitles">Pergunta [{indexQuestion}]</h1>
				</div>
				<div class="titlesOnCenter">
					<div ng-if="!showDivAnswer" class="margin-left-9x">
						<!-- Question -->
                        <img class="imageButtonMobile imageQuestionForumMobile" src="../images/user.png">
						<div class="borderMyQuestionMobile">
							<label class="margin-right-8x questionForumLabelMobile">Pergunta [{indexQuestion}]</label>
							<h5 class="descriptionQuestion sizeTextOfDetails">[{descriptionQuestion}]</h5>
						</div>
						<!-- Answers -->
						<div ng-repeat="answerQuestion in descriptionAnswer track by $index">
							<img ng-if="$index%2!==0" class="imageButtonMobile imageQuestionForumMobile" src="../images/user.png">
							<div ng-if="$index%2!==0" class="borderQuestionMobile">
								<label class="margin-right-8x questionForumLabelMobile">Resposta [{answerQuestion.numberOfQuestion}]</label>
								<h5 class="descriptionQuestion descriptAnswerMobile">[{answerQuestion.text}]</h5>
							</div>
							<div ng-if="$index%2===0"  class="borderAnswerMobile">
								<label class="margin-left-9x2 questionForumLabelMobile">Resposta [{answerQuestion.numberOfQuestion}]</label>
                                <img class="imageButtonLeft imageUserQuestions" src="../images/user.png">
								<h5 class="margin-left-7x questionForumLabelMobile">[{answerQuestion.text}]</h5>
							</div>
						</div>
					</div>
				</div>
				<div> 
					<button ng-if="!showDivAnswer" class="buttonConfirm" ng-click="clickOnAnswer()">Responder</button>
					<div ng-if="showDivAnswer" class="center-block titlesOnCenter answerDiv">
						<textarea class="textAreaAnswerDiv"  ng-model="textAnswer" placeholder="..."></textarea><br>
						<button class="buttonConfirm" ng-click="putAnswer(textAnswer)">Responder</button>
					</div>
				</div>
			</div>
		</div>
		<h1 class="alignCenter" ng-if="selectFav && !loading">Selecione uma opção de favoritos</h1>
		<!-- show favorites materials -->
        <div ng-if="!showFavorites && !locationMaterial && !zoomInMaterial">
			<div class="titlesOnCenter sectionScrollMobile sectionDetails">
				<img class="center-block margin-bottom-2x" ng-src="../images/categories/[{detailsFavorite.category}]/[{detailsFavorite.image}]" width="40%" height="30%" alt="foto"/><br>
				<div class="titlesOnCenter">
					<!-- Favorite -->
					<i ng-click="clickFavorite(detailsFavorite)" ng-if="detailsFavorite.isFavorite" class="fas fa-star cursorPointer iconMedium buttonFavInFav"></i>
					<i ng-click="clickFavorite(detailsFavorite)" ng-if="!detailsFavorite.isFavorite" class="far fa-star cursorPointer iconMedium buttonFavInFav"></i>
					<!-- Location -->
					<i ng-click="clickLocation(detailsFavorite)" class="fas fa-map-marker-alt cursorPointer iconMedium buttonLocationInFav"></i>
					<!-- Zoom in -->
					<i ng-click="clickZoomIn(detailsFavorite)" class="fas fa-search-plus cursorPointer iconMedium buttonLocationInFav"></i>
				</div>
				<p class="detailsFavSize">[{detailsFavorite.description}]
				</p>
				<div ng-if="clickAddFavoriteMaterial">
					<h4>Para poder adicionar ou remover dos seus favoritos, tem de iniciar sessão</h4>
				</div>
				<div ng-if="favoriteAlreadyExists">
					<h4>Favorito adicionado</h4>
				</div>
			</div>
		</div>
		<!-- show location of material -->
        <div ng-if="locationMaterial">
			<div ng-if="loading">
				<div class="loading-icon-footer-info"></div>
			</div>	
			<div ng-if="!loading" class="titlesOnCenter">
				<iframe class="noBorderIframe" ng-if="!zoomInIFrame" ng-src="[{locationsURL}]"  width="90%" height="100%" frameborder="0" allowfullscreen></iframe>
				<iframe class="noBorderIframe" ng-if="zoomInIFrame" ng-src="[{locationsURL}]"  width="90%" height="100%" frameborder="0" allowfullscreen></iframe>
				<div>
					<i ng-click="expandIframe();" class="fas fa-map-marker-alt"></i>
					<label class="margin-right-4x">[{descriptionLocation}]</label>

					<label>Pesquise um local ou endereço</label>
					<i ng-click="getSchools()" class="fas fa-caret-down"></i>	
					<div ng-if="showSchools">
						<div class="loadSchool" ng-if="loadingSchool">
							<div class="loading-icon-footer-info"></div>
						</div>
						<div ng-if="!loadingSchool" ng-repeat="biama in schools">
							<label class="languagesDiv margin-right-4x" ng-click="selectSchool(biama.locationDescription)">[{biama.locationDescription}]</label>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- show image with zoom in -->
        <div ng-if="zoomInMaterial">
			<button type="button" class="close zoomInFav" aria-label="Close" ng-click="closeMaterialZoomInMaterial()">
                
            </button>
            <div>
				<img class="margin-bottom-2x margin-left-2x borderZoomMaterial imageOfZoomInMaterialMobile" ng-src="../images/categories/[{detailsFavorite.category}]/[{detailsFavorite.image}]" width="75%" height="60%" alt="foto"/><br>
            </div>
		</div>
		<!-- small search results -->
		<i ng-if="miniSearchResults" ng-click="closeMiniSearch()" class="margin-top-4x fas fa-times cursorPointer float-right iconMedium"></i>
		<div ng-if="miniSearchResults" class="margin-top-5x">
			<div class="col-md-4" ng-repeat="material in resultSearch track by $index">
				<div class="thumbnail">
					<img class="margin-bottom-2x cursorPointer margin-left-2x cursorPointer" ng-click="openMaterial(material)" ng-src="../images/categories/miniSearch/[{material.name}]" width="35%" height="150px" alt="foto"/>
				</div>
			</div>
		</div>
		<!-- if click on result image -->
		<div ng-if="showDetailsOfMaterial" class="col-sm-4 col-sm-offset-2" >
			<div class="row container">
				<i ng-click="closeMaterial()" class="fas fa-times cursorPointer float-right iconMedium"></i>
				<div class=" col-md-5 order-md-1 marginMaterialList" ng-if="!showCategoryMaterial && !showProjectMaterial">
					<img class="center-block borderZoomMaterial" ng-src="../images/categories/[{openedMaterial.category}]/[{openedMaterial.name}]" width="55%" height="260px" alt="foto"/>
				</div>
				<div class=" col-md-5 order-md-1 marginMaterialList" ng-if="showCategoryMaterial && !showProjectMaterial" >
					<img class="center-block margin-top-6x borderZoomMaterial" ng-src="../images/categories/library/[{openedMaterial}]" width="55%" height="260px" alt="foto"/>
				</div>
				<div class=" col-md-5 order-md-1 marginMaterialList" ng-if="showProjectMaterial" >
					<img class="center-block margin-top-6x borderZoomMaterial" ng-src="../images/categories/projectMaterials/[{openedMaterial}]" width="55%" height="260px" alt="foto"/>
				</div>
				<div class="col-md-2 order-md-1 mb-2 detailsMaterialSearch">
					<h4 class="margin-right-5x margin-top-6x categoryMaterialSize">Categoria</h4>
					<h5 class="margin-right-5x detailsOfMaterial">[{openedMaterial.category}]</h5>
					<h4 class="margin-right-5x" >Código</h4>
					<h5 class="margin-right-5x detailsOfMaterial">[{openedMaterial.code}]</h5>
					<h4 class="margin-right-5x" >Descrição</h4>
					<h5 class="margin-right-5x detailsOfMaterial">[{openedMaterial.description}]</h5>
				</div>
			</div>
		</div>
    </body>
</html>



