<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/styleBiama.css' />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
        <!-- ajax dropup-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- jQuery files -->
		<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<!-- Firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

		<!--footer controllers-->
		<script type="text/javascript" src="../controllers/main-controller.js"></script>
		<script type="text/javascript" src="../controllers/biama-controller.js"></script>
		<script type="text/javascript" src="../controllers/whereWeAre-controller.js"></script>
		<script type="text/javascript" src="../controllers/forum-controller.js"></script>
		<script type="text/javascript" src="../controllers/curiosityForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/questionsUsersForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/worldShareForum-controller.js"></script>
		<script type="text/javascript" src="../controllers/library-controller.js"></script>
		<script type="text/javascript" src="../controllers/myBiama-controller.js"></script>		
		<script type="text/javascript" src="../controllers/qrCode-controller.js"></script>

		<!--details user controllers-->
		<script type="text/javascript" src="../controllers/perfil-controller.js"></script>
		<script type="text/javascript" src="../controllers/favorites-controller.js"></script>
		<script type="text/javascript" src="../controllers/notifications-controller.js"></script>
		<script type="text/javascript" src="../controllers/questions-controller.js"></script>
		<script type="text/javascript" src="../controllers/worldShares-controller.js"></script>
		<script type="text/javascript" src="../controllers/compare-controller.js"></script>
		 
		<base href="/"/>
	</head>
	<body ng-app="myApp" ng-controller="PerfilController">
        
        <!-- header -->
        <div class="container-fluid">
            <div class="header margin-top-3x">
                <div class="margin-left-4x  col-sm-4">
                    <img class="iconUser" ng-if="!userDetails" src="../images/user.png" alt="img" ng-click="clickUserDetails()">
                </div>
                <div ng-if="!showSearch" class="col-sm-5 margin-top-3x">
                    <h2 class="subtitles">O meu perfil<i class="cursorPointer float-left glyphicon glyphicon-triangle-left arrows backArrow sizeOfArrowMobile marginOfArrow"   ng-click="goToHomePage()"></i></h2>
                </div>
                <div ng-if="!showSearch" class="margin-top-2x col-sm-1">
                    <img class="float-right widthOfSearchIcon" ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
                    <img class="float-right" ng-if="showSearch  && !userDetails" width="90px" ng-click="clickTopSearch()" src="../images/search.png">
                </div>
                <div ng-if="showSearch" class="margin-top col-sm-3">
                    <img class="float-right widthOfSearchIcon" ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
					<img ng-if="showSearch  && !userDetails" ng-click="clickTopSearch()" src="../images/search.png" width="90px">
              		<h5 class="titlesOnCenter colorOfErrorMessages errorSizeMessagesMobile" ng-if="noResultsOnSearch">Não existem resultados.</h5>
			    </div>
                <div class="col-sm-4 marginOfSearchInput">
					<input id="miniSearch" class="inputMinSearch searchInputMobile sizeSearchInputMobile" ng-if="showSearch && !userDetails" type="text"></input>
					<button ng-if="showSearch && !userDetails" ng-click="initMiniSearch()" class="buttonOkMiniSearch glyphicon glyphicon-ok buttonSizeSearchMobile"></button>
				</div>
            </div>
        </div>
		<!-- loading spinner -->
        <div ng-if="loading">
            <div class="loading-icon-footer-info"></div>
        </div>
		<!-- section of user details -->
        <div class="row">
			<nav class="padding-left-3x divUserDetailsMobile">
				<div class="navDetailsUserMobile" ng-if="userDetails"><br>
					<!-- content if not init session -->
					<div ng-if="!confirmSession">
						<img class="imageUserNavDetailsMobile" src="../images/userDetails.PNG" ng-click="clickUserDetails()"><br><br>
						<span title="Tem de iniciar sessão">
							<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Favoritos</a><br>
						</span>
						<div class="lineWhite margin-bottom margin-top"></div>
						<span title="Tem de iniciar sessão">
							<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">As minhas perguntas</a><br>
						</span>
						<div class="lineWhite margin-bottom margin-top"></div>
						<span title="Tem de iniciar sessão">
							<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Partilhar com o Mundo</a><br>
						</span>
						<div class="lineWhite margin-bottom margin-top"></div>
						<span title="Tem de iniciar sessão">
							<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Notificações</a><br>
						</span>
						<div class="lineWhite margin-bottom margin-top"></div>
						<span title="Tem de iniciar sessão">
							<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Perfil</a><br>
						</span>
						<div class="lineWhite margin-bottom margin-top"></div>
						<span title="Tem de iniciar sessão">
							<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Comparar</a><br>
						</span>
						<div class="lineWhite margin-bottom margin-top"></div>
						<a href="" ng-click="showInitSessionDiv()">Iniciar sessão</a><br>
						<img src="../images/expandInitSession.PNG" ng-click="clickUserDetails()"><br><br>
						
						<!-- section of init session -->
						<div class="divInitSessionMobile marginDivInitSession" ng-if="showInitSession">
							<div class="alignCenter">
								<h2 class="initSessionColor">Iniciar Sessão</h2>
								
								<div class="lineWhiteInitSession"></div><br>
								<div ng-if="users === 'loadUser'">
									<div class="loading-icon"></div>
								</div>
								<div ng-if="users !== 'loadUser'">
									<input class="inputUserName" ng-model="usernameModel" type="text" placeholder="Username"/>
									<input class="inputPassword" ng-model="passwordModel" type="password" placeholder="Password"/><br>
									<a class="confirmSessionLabel confirmButtonMobile" ng-click="confirmSessionAction(usernameModel,passwordModel)">Confirmar</a><br><br>
									<!-- login with firebase providers -->
									<div>
										<img class="cursorPointer" src="../images/logo_google.png" ng-click="loginWithGoogle()" width="10%" height="10%"/>
										<img class="cursorPointer" src="../images/logo_face.png" ng-click="loginWithFacebook()" width="10%" height="10%"/>
									</div>
									<br>
									<button class="registSessionMobile" type="button" ng-click="regist()">Registar</button>
								</div>												
							</div>
						</div>
					</div>
					<!-- content if init session -->
					<div ng-if="confirmSession">
						<img src="../images/userDetails.PNG" ng-click="clickUserDetails()"><br><br>
						<a ng-click="getRequest('favorites')">Favoritos</a><br>
						<div class="lineWhiteMobile margin-bottom margin-top"></div>
						<a ng-click="getRequest('questions')">As minhas perguntas</a><br>
						<div class="lineWhiteMobile margin-bottom margin-top"></div>
						<a ng-click="getRequest('world_share')">Partilhar com o Mundo</a><br>
						<div class="lineWhiteMobile margin-bottom margin-top"></div>
						<a class="notificationPosition" ng-click="getRequest('notification')">Notificações</a>
						<label ng-if="notificationNumber" class="labelNumberNotification">[{numberOfNotifications}]</label>
						<div ng-if="notificationNumber" class="circleNotification"></div>
						<br>
						<div class="lineWhiteMobile margin-bottom margin-top"></div>
						<a ng-click="getRequest('perfil')">Perfil</a><br>
						<div class="lineWhiteMobile margin-bottom margin-top"></div>
						<a ng-click="getRequest('compare')">Comparar</a><br>
						<div class="lineWhiteMobile margin-bottom margin-top"></div>
						<a ng-click="logout()">Terminar Sessão</a><br>
						<img src="../images/expandInitSession.PNG" ng-click="clickUserDetails()"><br><br>
					</div>
				</div>
			</nav>
		</div>
		<!-- content of perfil page -->
        <div ng-if="showPerfilDetails">
            <br>
            <div ng-if="!openImageUploadLabel && !loading" class="perfilDetailsMobile center-block">
                <!-- user photo -->
                <div>
					<img ng-show="!upgradeInformations && imageUser !== 'noImage'" src="../images/users/[{imageUser}]" class="w3-circle imageRotation imagePerfilMobile" readonly >
					<img ng-show="upgradeInformations && imageUser !== 'noImage'" src="../images/users/[{imageUser}]" class="w3-circle imageRotation imagePerfilMobile cursorPointer" ng-click="openImageUpload()">
                    <img ng-if="imageUser === 'noImage'" src="../images/userDetails.PNG" class="w3-circle imagePerfilMobile cursorPointer" ng-click="openImageUpload()">

				    <label class="minTitleBiAMa labelPerfilName perfilMessagesMobile">[{name}]</label>
                </div>
                <br><br><br><br><br>
				<!-- username -->
                <input ng-show="!upgradeInformations" class="inputsCenter inputDetails" ng-model="username" type="text" placeholder="Username" readonly/>
                <input ng-show="upgradeInformations" class="inputsCenter inputDetails" ng-model="username" type="text" placeholder="Username"/>
                <br>
				<!-- e-mail -->
                <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>
                <input ng-show="!upgradeInformations" class="inputsCenter inputDetails" ng-model="email" type="email" placeholder="E-mail" readonly/>
                <input ng-show="upgradeInformations" class="inputsCenter inputDetails" ng-model="email" type="email" placeholder="E-mail"/>
                <br>

                <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>
                <!-- edit mode -->
                <input ng-show="upgradeDate" class="inputsCenter inputDetails margin-left-3x1" ng-model="birthdateValue" type="date" placeholder="DD-MM-AAAA"/>
                <!-- view mode -->
                <input ng-show="editDate" class="inputsCenter inputDetails margin-left-3x1" ng-model="birthdateValue" type="date" placeholder="DD-MM-AAAA"/>
                <!-- date of birth of service -->
                <h4 ng-show="!editDate">[{birthdateValue}]</h4>
				<!-- password -->
                <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>
                <input ng-show="!upgradeInformations" class="inputsCenter inputDetails" ng-model="password" type="password" placeholder="Password" readonly/>
                <input ng-show="upgradeInformations" class="inputsCenter inputDetails" ng-model="password" type="password" placeholder="Password"/>
                <br>
                <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>
                <!-- buttons to update and save data -->
                <button class="inputsCenter buttonBorder margin-top margin-bottom margin-left" ng-click="updateData()">Alterar dados</button>
                <button class="inputsCenter buttonBorder margin-top margin-bottom margin-left" ng-click="doneUpgrade(username, email, birthdateValue, password, imageUser)">Salvar</button>		
                
				<!-- error messages: user entry data on fields -->
				<h5 class="perfilMessagesMobile" ng-if="fieldsEmpty">Campos inválidos.</h5>
                <h5 class="perfilMessagesMobile" ng-if="!fieldsEmpty && invalidEmail">Email inválido.</h5>
                <h5 class="perfilMessagesMobile" ng-if="invalidDate">Data de nascimento inválida.</h5>
                <h5 class="perfilMessagesMobile" ng-if="usernameRepeatedPerfil">Nome já existente.</h5>
                <h5 class="perfilMessagesMobile" ng-if="underAgePerfil">Para efetuar o registo tem de ser maior de idade.</h5>
            </div>

			<div ng-if="updatedData && clickSaveData" class="textToInitSession updateData alert-success center-block sucessMessageLogin titlesOnCenter">
				As alterações do seu perfil foram efetuadas com sucesso.
			</div>
			<!-- update photo -->
            <div class="perfilDetailsMobile center-block" ng-if="openImageUploadLabel">
                <input type="file" id="uploadPicture" class="buttonEditPerfilPhoto cursorPointer" value="Escolha uma foto">
                <button ng-click="saveUploadFile()">Guardar</button>
            </div>
        </div>
		<!-- small search results -->
		<i ng-if="miniSearchResults" ng-click="closeMiniSearch()" class="margin-top-4x fas fa-times cursorPointer float-right iconMedium"></i>
		<div ng-if="miniSearchResults" class="margin-top-5x">
			<div class="col-md-4" ng-repeat="material in resultSearch track by $index">
				<div class="thumbnail">
					<img class="margin-bottom-2x cursorPointer margin-left-2x cursorPointer" ng-click="openMaterial(material)" ng-src="../images/categories/miniSearch/[{material.name}]" width="35%" height="150px" alt="foto"/>
				</div>
			</div>
		</div>
		<!-- if click on result image -->
		<div ng-if="showDetailsOfMaterial" class="col-sm-4 col-sm-offset-2" >
			<div class="row container">
				<i ng-click="closeMaterial()" class="fas fa-times cursorPointer float-right iconMedium"></i>
				<div class=" col-md-5 order-md-1 marginMaterialList" ng-if="!showCategoryMaterial && !showProjectMaterial">
					<img class="center-block borderZoomMaterial" ng-src="../images/categories/[{openedMaterial.category}]/[{openedMaterial.name}]" width="55%" height="260px" alt="foto"/>
				</div>
				<div class=" col-md-5 order-md-1 marginMaterialList" ng-if="showCategoryMaterial && !showProjectMaterial" >
					<img class="center-block margin-top-6x borderZoomMaterial" ng-src="../images/categories/library/[{openedMaterial}]" width="55%" height="260px" alt="foto"/>
				</div>
				<div class=" col-md-5 order-md-1 marginMaterialList" ng-if="showProjectMaterial" >
					<img class="center-block margin-top-6x borderZoomMaterial" ng-src="../images/categories/projectMaterials/[{openedMaterial}]" width="55%" height="260px" alt="foto"/>
				</div>
				<div class="col-md-2 order-md-1 mb-2 detailsMaterialSearch">
					<h4 class="margin-right-5x margin-top-6x categoryMaterialSize">Categoria</h4>
					<h5 class="margin-right-5x detailsOfMaterial">[{openedMaterial.category}]</h5>
					<h4 class="margin-right-5x" >Code</h4>
					<h5 class="margin-right-5x detailsOfMaterial">[{openedMaterial.code}]</h5>
					<h4 class="margin-right-5x" >Description</h4>
					<h5 class="margin-right-5x detailsOfMaterial">[{openedMaterial.description}]</h5>
				</div>
			</div>
		</div>
	</body>
</html>



