<html>
	<head>
		<title>BiAMa</title>
		
		<link rel='stylesheet' href='/stylesheets/styleBiama.css' />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<!-- jQuery files -->
		<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<!-- Firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

		<!--footer controllers-->
		<script type="text/javascript" src="../controllers/main-controller.js"></script>
		<script type="text/javascript" src="../controllers/biama-controller.js"></script>
		<script type="text/javascript" src="../controllers/whereWeAre-controller.js"></script>
		<script type="text/javascript" src="../controllers/forum-controller.js"></script>
		<script type="text/javascript" src="../controllers/library-controller.js"></script>
		<script type="text/javascript" src="../controllers/myBiama-controller.js"></script>
		<script type="text/javascript" src="../controllers/qrCode-controller.js"></script>
		<script type="text/javascript" src="../controllers/registUser-controller.js"></script>

		<!--details user controllers-->
		<script type="text/javascript" src="../controllers/perfil-controller.js"></script>
		<script type="text/javascript" src="../controllers/favorites-controller.js"></script>
		<script type="text/javascript" src="../controllers/notifications-controller.js"></script>
		<script type="text/javascript" src="../controllers/questions-controller.js"></script>
		<script type="text/javascript" src="../controllers/worldShares-controller.js"></script>
		<script type="text/javascript" src="../controllers/compare-controller.js"></script>
		<base href="/"/>
	</head>
	<body class="paddingBody" ng-app="myApp" ng-controller="WhereWeAreController">
		<div class="backgroundColorDesktop" ng-show="redirect">
			
			<!-- user & search & languages-->
			<nav class="positionOfNavDetails alignUserAndSearchIcons">
				<!-- search -->
				<div ng-if="!isMobileView" class="float-left padding-left-3x">
					<img ng-if="!userDetails" src="../images/user.png" ng-click="clickUserDetails()" width="50px">
					<img ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png" width="45px">
					<img ng-if="showSearch  && !userDetails" ng-click="clickTopSearch()" src="../images/search.png" width="45px">
					<input id="miniSearch" class="inputMinSearch" ng-if="showSearch && !userDetails" type="text"></input>
					<button ng-if="showSearch && !userDetails" ng-click="initMiniSearch()" class="buttonOkMiniSearch glyphicon glyphicon-ok "></button>
					<h5 class="colorOfErrorMessages" ng-if="noResultsOnSearch">Não existem resultados.</h5>
				</div> 

				<!-- section of user details -->
				<div ng-if="!isMobileView" class="row">
					<nav class="padding-left-3x">
						<div class="navDetailsUser" ng-if="userDetails"><br>
							<!-- content if not init session -->
							<div ng-if="!confirmSession">
								<img src="../images/userDetails.PNG" ng-click="clickUserDetails()"><br><br>
								<span title="Tem de iniciar sessão">
									<a href="" class="aDisabled" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Favoritos</a><br>
								</span>
								<div class="lineWhite margin-bottom margin-top"></div>
								<span title="Tem de iniciar sessão">
									<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">As minhas perguntas</a><br>
								</span>
								<div class="lineWhite margin-bottom margin-top"></div>
								<span title="Tem de iniciar sessão">
									<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Partilhar com o Mundo</a><br>
								</span>
								<div class="lineWhite margin-bottom margin-top"></div>
								<span title="Tem de iniciar sessão">
									<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Notificações</a><br>
								</span>
								<div class="lineWhite margin-bottom margin-top"></div>
								<span title="Tem de iniciar sessão">
									<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Perfil</a><br>
								</span>
								<div class="lineWhite margin-bottom margin-top"></div>
								<span title="Tem de iniciar sessão">
									<a href="" ng-click="selectOption()" style=" cursor:not-allowed;opacity:0.5;text-decoration: none;">Comparar</a><br>
								</span>
								<div class="lineWhite margin-bottom margin-top"></div>
								<a href="" ng-click="showInitSessionDiv()">Iniciar sessão</a><br>
								<img src="../images/expandInitSession.PNG" ng-click="clickUserDetails()"><br><br>
								
								<!-- section of init session -->
								<div class="divInitSession" ng-if="showInitSession">
									<div class="alignCenter">
										<h5 class="initSessionColor">Iniciar Sessão</h5>
										
										<div class="lineWhiteInitSession"></div><br>
										<div ng-if="users === 'loadUser'">
											<div class="loading-icon"></div>
										</div>
										<div ng-if="users !== 'loadUser'">
											<input class="inputUserName" ng-model="usernameModel" type="text" placeholder="Username"/>
											<input class="inputPassword" ng-model="passwordModel" type="password" placeholder="Password"/><br>
											<a class="confirmSessionLabel confirmButton" ng-click="confirmSessionAction(usernameModel,passwordModel)">Confirmar</a><br><br>
											<!-- login with firebase providers -->
											<div>
												<img class="cursorPointer" src="../images/logo_google.png" ng-click="loginWithGoogle()" width="10%" height="10%"/>
												<img class="cursorPointer" src="../images/logo_face.png" ng-click="loginWithFacebook()" width="10%" height="10%"/>
											</div>
											<br>
											<a class="registSession" ng-click="getRequest('regist')">Registar</a>
											<!--<button class="registSession" type="button" ng-click="regist()">Registar</button>-->
										</div>												
									</div>
								</div>
							</div>
							<!-- content if init session -->
							<div ng-if="confirmSession">
								<img src="../images/userDetails.PNG" ng-click="clickUserDetails()"><br><br>
								<a ng-click="getRequest('favorites')">Favoritos</a><br>
								<div class="lineWhite margin-bottom margin-top"></div>
								<a ng-click="getRequest('questions')">As minhas perguntas</a><br>
								<div class="lineWhite margin-bottom margin-top"></div>
								<a ng-click="getRequest('world_share')">Partilhar com o Mundo</a><br>
								<div class="lineWhite margin-bottom margin-top"></div>
								<a class="notificationPosition" ng-click="getRequest('notification')">Notificações</a>
								<label ng-if="notificationNumber" class="labelNumberNotification">[{numberOfNotifications}]</label>
								<div ng-if="notificationNumber" class="circleNotification"></div>
								<br>
								<div class="lineWhite margin-bottom margin-top"></div>
								<a ng-click="getRequest('perfil')">Perfil</a><br>
								<div class="lineWhite margin-bottom margin-top"></div>
								<a ng-click="getRequest('compare')">Comparar</a><br>
								<div class="lineWhite margin-bottom margin-top"></div>
								<a ng-click="logout()">Terminar Sessão</a><br>
								<img src="../images/expandInitSession.PNG" ng-click="clickUserDetails()"><br><br>
							</div>
						</div>
					</nav>
				</div>
			</nav>
		</div>
		<div class="borderPageLine fontFamily">
			<!--image biama -->
			<div class="row text-center">
				<img class="margin-top-3x" src="../images/topoBiama.png"/>
			</div>
			<div ng-if="!miniSearchResults && !showDetailsOfMaterial" class="imageRight">
				<img src="../images/rightBiama.png"/>
			</div>
			<!-- title and image left -->
			<div ng-if="!miniSearchResults && !showDetailsOfMaterial" class="titlesOnCenter">
				<div class="imageLeft">
					<img class="margin-top-3x" src="../images/leftBiama.png"/>
				</div>
				<i class="cursorPointer float-left glyphicon glyphicon-triangle-left arrows backArrow" ng-click="goToHomePage()"></i>						
				<h1 class="subtitles">Onde estamos</h1>
			</div>
			<!-- loading spinner -->
			<div ng-if="loading">
				<div class="loading-icon-footer-info"></div>
			</div>	
			<!-- content of where we are page -->
			<div ng-if="!loading && !miniSearchResults && !showDetailsOfMaterial" class="center-block titlesOnCenter">
				<iframe class="noBorderIframe marginOfIframe" ng-if="!zoomInIFrame" ng-src="[{locationsURL}]"  width="415" height="180" frameborder="0" allowfullscreen></iframe>
				<iframe class="noBorderIframe marginOfIframe" ng-if="zoomInIFrame" ng-src="[{locationsURL}]"  width="415" height="300" frameborder="0" allowfullscreen></iframe>
				<div class="center-block whereWeAreLocationDetails">
					<i ng-click="expandIframe();" class="fas fa-map-marker-alt margin-top-1x cursorPointer"></i>
					<label class="margin-right-4x">[{descriptionLocation}]</label>

					<label>Pesquise um local ou endereço</label>
					<i ng-click="getSchools()" class="fas fa-caret-down cursorPointer"></i>	
					<div ng-if="showSchools">
						<div class="borderLocations" ng-repeat="biama in schools">
							<label class="languagesDiv margin-right-4x" ng-click="selectSchool(biama.locationDescription)">[{biama.locationDescription}]</label>
							<br>
						</div>
					</div>
				</div>
			</div>
			<!-- show details of material if click on material -->
			<div ng-if="showDetailsOfMaterial && !isMobileView" class="col-sm-4 col-sm-offset-2">
				<div class="row container marginBottomMaterialDetails">
					<i ng-click="closeMaterial()" class="fas fa-times cursorPointer float-right iconMedium closeOpenMaterial margin-top-6x"></i>
					<div class="col-md-3 order-md-1" ng-if="!showCategoryMaterial && !showProjectMaterial">
						<img class="margin-bottom-3x margin-top-5x borderZoomMaterial" ng-src="../images/categories/[{openedMaterial.category}]/[{openedMaterial.name}]" width="75%" height="250px" alt="foto"/>
					</div>
					<div class="col-md-3 order-md-1" ng-if="showCategoryMaterial && !showProjectMaterial">
						<img class="margin-bottom-3x margin-top-5x borderZoomMaterial" ng-src="../images/categories/library/[{openedMaterial}]" width="75%" height="250px" alt="foto"/>
					</div>
					<div class="col-md-3 order-md-1" ng-if="showProjectMaterial">
						<img class="margin-bottom-3x margin-top-5x borderZoomMaterial" ng-src="../images/categories/projectMaterials/[{openedMaterial}]" width="75%" height="250px" alt="foto"/>
					</div>
					<div class="col-md-5 order-md-1 mb-2 detailsMaterialSearch">
						<h4 class="margin-right-5x margin-top-6x textBold">Categoria</h4>
						<h5 class="margin-right-5x">[{openedMaterial.category}]</h5>
						<h4 class="margin-right-5x textBold">Código</h4>
						<h5 class="margin-right-5x">[{openedMaterial.code}]</h5>
						<h4 class="margin-right-5x textBold">Descrição</h4>
						<h5 class="margin-right-5x scrollDescription">[{openedMaterial.description}]</h5>
					</div>
				</div>
			</div>
			<!-- small search results -->
			<i ng-if="miniSearchResults" ng-click="closeMiniSearch()" class="fas fa-times cursorPointer float-right iconMedium alignIconCloseOfMiniSearch"></i>
			<div ng-if="miniSearchResults" class="sectionScrollInitSearch float-right marginResultsMiniSearch">
				<div>
					<div class="col-md-4" ng-repeat="material in resultSearch track by $index">
						<div class="thumbnail">
							<img class="margin-bottom-2x cursorPointer margin-left-2x cursorPointer" ng-click="openMaterial(material)" ng-src="../images/categories/miniSearch/[{material.name}]" width="35%" height="150px" alt="foto"/>
						</div>
					</div>
				</div>
			</div>
			<!-- footer of desktop view -->
			<footer ng-if="!isMobileView" class="w3-bar w3-center">
				<a href="" ng-if="nameclick !== 'biamaPage'" ng-click="getRequest('biamaPage')" style="width:20%;color: #E4A73F; text-decoration:none; font-size: 21px;font-family: Arial Narrow, sans-serif;" class="buttonNotSelected buttonAlignment w3-mobile">BiAMa</a>
				<a href="" ng-if="nameclick === 'biamaPage'" ng-click="getRequest('biamaPage')" style="width:20%;color: white; text-decoration:none; font-size: 21px;font-family: Arial Narrow, sans-serif;" class="buttonSelected buttonAlignment w3-mobile">BiAMa</a>

				<a href="" ng-if="nameclick !== 'whereWeAre'" ng-click="getRequest('whereWeAre')" style="width:20%;color: #E4A73F; text-decoration:none; font-size: 21px;font-family: Arial Narrow, sans-serif;" class=" w3-bar-item buttonNotSelected w3-mobile">Onde Estamos</a>
				<a href="" ng-if="nameclick === 'whereWeAre'" ng-click="getRequest('whereWeAre')" style="width:20%;color: white; text-decoration:none; font-size: 21px;font-family: Arial Narrow, sans-serif;" class="w3-bar-item buttonSelected w3-mobile">Onde Estamos</a>

				<a href="" ng-if="nameclick !== 'library'" ng-click="getRequest('library')" style="width:20%;color: #E4A73F; text-decoration:none; font-size: 21px;font-family: Arial Narrow, sans-serif;" class="w3-bar-item buttonNotSelected w3-mobile">Biblioteca</a>
				<a href="" ng-if="nameclick === 'library'" ng-click="getRequest('library')" style="width:20%;color: white; text-decoration:none; font-size: 21px;font-family: Arial Narrow, sans-serif;" class="w3-bar-item buttonSelected w3-mobile">Biblioteca</a>

				<a href="" ng-if="nameclick !== 'myBiama'" ng-click="getRequest('myBiama')" style="width:20%;color: #E4A73F; text-decoration:none; font-size: 21px;font-family: Arial Narrow, sans-serif;" class="w3-bar-item buttonNotSelected w3-mobile">A sua BiAMa</a>
				<a href="" ng-if="nameclick === 'myBiama'" ng-click="getRequest('myBiama')" style="width:20%;color: white; text-decoration:none; font-size: 21px;font-family: Arial Narrow, sans-serif;" class="w3-bar-item buttonSelected w3-mobile">A sua BiAMa</a>

				<a href="" ng-if="nameclick !== 'forum'" ng-click="getRequest('forum')" style="width:20%; color:#E4A73F; text-decoration:none; font-size: 21px;font-family: Arial Narrow, sans-serif;" class="w3-bar-item buttonNotSelected w3-mobile">Fórum</a>
				<a href="" ng-if="nameclick === 'forum'" ng-click="getRequest('forum')" style="width:20%; color:white; text-decoration:none; font-size: 21px;font-family: Arial Narrow, sans-serif;" class="w3-bar-item buttonSelected w3-mobile">Fórum</a>
			</footer>
		</div>
		
	</body>
</html>



